.float-image{
    float: left;        /* Floats the image to the left */
    margin-right: 15px; /* Adds some space between the image and the text */
    width: 350px;       /* Sets a fixed width for the image */
    height: auto;       /* Maintains aspect ratio */
}

.colorp{

    color:white;
    font-family : fantasy;
    font-size: large;
}

.float-image1{
    float:right;        /* Floats the image to the left */
    margin-right: 15px; /* Adds some space between the image and the text */
    width: 200px;       /* Sets a fixed width for the image */
    height: auto;       /* Maintains aspect ratio */
} 

.color{
    color: white;
    text-decoration: underline;
    background-image:url(Image/140620201029364ov5.jpg);
    margin-top:10px;   /*SPACING BETW TOP AND BOTTOM*/
    margin-bottom: 10px;
    word-spacing: 10px;  /* SPACING BETWEEN WORDS*/
    text-align: center;
    letter-spacing: 6px;
}
.color-table{

    color:white;
    font-family: fantasy;
    background-color: black;
}
.padding{
    padding: 60;
}
body{
    background-color:lightcoral;
}